html,body{
    width:100%;
    height:100%;
    margin:0px;
    font-family: lobster;
}
body{
    background-color: #272c2c;
}
#header{
    width:100%;
    height:2%;
    text-align:center;
    font-size: 300%;
    letter-spacing: 3px;
    color: #cfd4d4;
    text-shadow: 2px 2px 5px rgb(122, 118, 118);
    background-color: #1b1f1f;
}
#container{
    width:100%;
    height:95%; 
}
#footer{
    position:static;
    width:100%;
    height:3%;
    bottom: 0;
    text-align:center;
    font-size: 100%;
    background-color: #1b1f1f;
    color: #535353;
}
#rightBlock{
    float:left;
    width:80%;
    height:100%;
    background-color: aqua;
}
#leftBlock{
    float:left;
    width:20%;
    height:100%;
    text-align:center;
    background-color: rgb(200, 0, 0);
    overflow-y:scroll;
}
.gameTile{
    width:95%;
    height:100px;
    margin-top:5px;
    background-color: yellow;
    display: inline-block;
    
}
.icon{
    width:100px;
    height:100px;
    margin-right:50px;
    margin-left:20px;
}
#title{
    margin-top:20px;
    width:100%;
    height:100px;
    background-color: green; /*Domyślnie w oryginale ma być mocno-przeźroczyste*/
    display:flex;
    align-items:center;
}
span{
    color: #cfd4d4;
    font-size:400%;
    text-shadow: 2px 2px 2px black;
    cursor:default;
}
#status{
    width:100%;
    height:50px;
    color:white;
    font-size:200%;
    margin-top:50px;
    margin-bottom: 50px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    text-align:center;
    display:flex;
}
#statusSpan{
    font-size:150%;
    margin-right: 20px;
    
}

#planning{
    background-color: green;
}
#analysis{
    background-color: green;
}
#design{
    background-color: red;
}
#testing{
    background-color: red;
}
#release{
    background-color: red;
}
.statusStage{
    width:auto;
    height:50px;
    border: 2px black solid;
    border-radius:4px;
    margin:5px;
    cursor:default;
}