.table_border{
    border: 2px solid red;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    position: relative;
    margin-top: 5px;
}

.section_name{
    text-align: left;
    vertical-align: top;
}

.section_name, .section_name a, .post_title a{
    text-decoration: none;
    color: inherit;
    font-weight: 900;
}

.post_title{
    width: 70%;
    text-align: left;
}

.post_views{
    width: 15%;
    text-align: left;
}

.post_answers{
    width: 15%;
    text-align: right;
} 